.container {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid gray;
    padding: 5px;
    
}

.demo {
      display: flex;
      padding: 20px;
      background-color: rgb(213, 224, 224);
}

.content {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid aqua(153, 207, 232);
      height: 50px;
      width: 50px; 
      transition:background-color 1s, transform 1s; 
      border-radius: 5px;
}

.fizz:hover {
    background-color: rgb(235, 235, 83);

}

.juan {
    background-color: brown;
    }

.buzz:hover {

    transform: translateY(-5px);
     
}

.fizzbuzz:hover {
    background-color: rgb(225, 190, 53);
    transform: rotate(5deg) translateY(-5px);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   padding: 20px;
}

#controls{
    margin: 10px;
    display: flex;
    background-color: gray;
}

.input-group{
    margin-right: 10px;
    padding: 5px;
}

.input-group input{
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.input-group button{
    padding: 5px 10px;
    cursor: pointer;
    background-color:cornflowerblue;
    border: 1px solid rgb(74, 110, 177);
    border-radius: 5px;
}

.input-group button:hover{
    background-color: salmon;
}