.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    
}

.demo {
      display: flex;
      padding: 20px;
      background-color: aqua;
}

.content {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid aqua;
      height: 50px;
      width: 50px; 
      transition:background-color 1s, transform 1s; 
      border-radius: 5px;
}

.fizz:hover {
    background-color: beige;

}

.juan {
    background-color: brown;
    }

.buzz:hover {

    transform: translateY(-5px);
     
}

.fizzbuzz:hover {
    background-color: beige;
    transform: rotate(5deg) translateY(-5px);
}